<%- include('./fragments/header.ejs') %>

<main>
    <h2><%= __('main-page.content') %></h2>
    <p>Wirtualny Krytyk jest systemem pozwalającym na ocenę dań w restauracji Michelin.</p>
    <p>Znajdź w aplikacji interesujące cię danie i sprawdź jego ocenę lub po prostu wystaw swoją ocenę. </p>

    <h2><%= __('main-page.aboutUs') %></h2>
    <p>To nasza pasja, jesteśmy dla was od 2015r.</p>
    <p>Stawiamy na najwyższą jakość produktów i brak konserwantów w oferowanych przez nas daniach. To wszystko aby
        otrzymać unikalny smak.</p>
</main>

<%- include('./fragments/footer.ejs') %>