<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły gościa</h2>
    <form class="details">
        <label for="firstName">Imię:</label>
        <input type="text" name="firstName" value="Jan" id="firstName" disabled />

        <label for="lastName">Nazwisko:</label>
        <input type="text" name="lastName" value="Kowalski" id="lastName" disabled />

    </form>
    <div class="form-buttons">
        <a href="/visitors/edit/1" class="list-actions-button-edit">Edytuj</a>
    </div>

    <h2>Ocenione dania</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa dania</th>
                <th>Ocena</th>
                <th>Data Recenzji</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pizza Pepperoni</td>
                <td>5</td>
                <td>20-10-2020</td>
            </tr>
            <tr>
                <td>Pizza Napoletana</td>
                <td>4</td>
                <td>10-10-2020</td>
            </tr>
        </tbody>
    </table>
    <div class="form-buttons">
        <a href="/visitors" class="list-actions-button-edit">Powrót</a>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>