<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="../../js/validationCommon.js"></script>
<script type="application/javascript" src="../../js/validationVisitorForm.js"></script>

<main>
    <h2>Dodaj nowego gościa</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-50 znaków" />
        <span id="errorFirstName" class="errors-text"></span>

        <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="lastName" id="lastName" placeholder="2-50 znaków" />
        <span id="errorLastName" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit" />
            <a href="/visitors" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>