<%- include('../../fragments/header.ejs') %>

<script type="application/javascript" src="../../js/validationCommon.js"></script>
<script type="application/javascript" src="../../js/validationMealForm.js"></script>

<main>
    <h2>Dodaj nową potrawę</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="meal">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="meal" id="meal" placeholder="2-50 znaków"/>
        <span id="errorMeal" class="errors-text"></span>

        <label for="description">Opis:<abbr title="required" aria-label="required">*</abbr></label>
        <textarea name="description" id="description" maxlength="100" rows="3" placeholder="2-100 znaków"></textarea>
        <span id="errorDescription" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-button-submit" />
            <a href="/meals" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs') %>