<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Szczegóły recenzję</h2>
        <form class="details">
            <label for="visitor">Gość:</label>
            <select id="visitor" name="visitor" disabled>
                <option selected>Jan Kowalski</option>
                <option>Krzysztof Nowak</option>
            </select>

            <label for="meal">Potrawa:</label>
            <select id="meal" name="meal" disabled>
                <option selected>Pizza Pepperoni</option>
                <option>Pizza Neapolitana</option>
            </select>

            <label for="rate">Ocena:</label>
            <input type="number" id="rate" name="rate" min="1" max="5" value="4" disabled>

            <label for="date">Data recenzji:</label>
            <input type="date" id="date" name="date" value="2020-11-11" disabled>

            <label for="message">Treść recenzji:</label>
            <textarea name="message" id="message" maxlength="100" rows="3" disabled>Bardzo polecam.</textarea>

            <div class="form-buttons">
                <a href="/reviews/edit/1" class="list-actions-button-edit">Edytuj</a>
                <a href="/reviews" class="list-actions-button-edit">Powrót</a>
            </div>
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>